In [1]:
import pandas as pd
import numpy as np
from pybaseball.lahman import *
from pybaseball import bwar_bat
from pybaseball import *

# get WAR stats from baseball reference 
data = bwar_bat() 
data.head()
# batting stats by year, regular season
bat = batting()
bat.head()
#On Base Percentage = HITS + Walks + Hts by Pitch / At Bats + Walks + Hits by Pitch + Sacrafice Flies
bat['OBP'] = (bat['H'] + bat['BB'] + bat['HBP'])/(bat['AB'] + bat['BB'] + bat['HBP'] + bat['SF'])
#Batting Average = Hits / At Bats 
bat['BA'] = (bat['H']/bat['AB'])
#Plate Appearance = At Bats + Walks + Sacrafice Flies + Stolen Base
bat['PA'] = (bat['AB']+bat['BB']+bat['SF']+bat['SB'])

bat = bat.loc[(bat["yearID"] == 2017),["playerID","yearID","OBP",'BA','PA']]
bat.head(10)
data = data.loc[(data["year_ID"] == 2017),["player_ID","year_ID","WAR",'salary']]
data.columns = ['playerID','yearID','WAR','salary']
data.head(100)
data.dropna()
bat.dropna()
final = pd.merge(data[['playerID','yearID','WAR','salary']],bat[['playerID','yearID','OBP','BA','PA']],on=['playerID','yearID'],how = 'inner')
final = final.dropna()
final = final.loc[(final["PA"]>=10)]
final.head(100)

      playerID  yearID   WAR      salary       OBP        BA     PA
1    abreujo02    2017  4.81  10825000.0  0.354074  0.304348  663.0
2    adamecr01    2017 -0.41    540000.0  0.071429  0.000000   14.0
5    adamsma01    2017  0.64   2800000.0  0.339623  0.291667   53.0
6    adamsma01    2017  0.64   2800000.0  0.315287  0.271478  313.0
12   aguilje01    2017  1.24    536000.0  0.331190  0.265233  307.0
13   ahmedni01    2017  0.19    566000.0  0.297753  0.251497  180.0
21   alcanar01    2017 -0.64    538000.0  0.186916  0.171429  109.0
29   almonab01    2017 -0.03    544200.0  0.314433  0.232558  195.0
31   almoral01    2017  1.01    552000.0  0.337500  0.297659  321.0
32   alonsyo01    2017  1.56   4000000.0  0.369272  0.266458  370.0
33   alonsyo01    2017  1.56   4000000.0  0.353333  0.265152  151.0
37   altheaa01    2017  1.63    538500.0  0.339806  0.271505  410.0
38   altuvjo01    2017  8.06   4500000.0  0.409985  0.345763  684.0
44   amarial01    2017 -1.44   1100000.0  0.268571  0.238095  176.0
50   anderch01    2017 -0.10   2450000.0  0.134615  0.134615   52.0
52   anderti01    2017  1.07    850000.0  0.276490  0.257240  616.0
53   anderty01    2017 -0.33    540000.0  0.074074  0.038462   27.0
55   andruel01    2017  4.48  15000000.0  0.337209  0.297045  710.0
57    aokino01    2017  0.57   5500000.0  0.322870  0.272277  226.0
58    aokino01    2017  0.57   5500000.0  0.294118  0.281250   34.0
59    aokino01    2017  0.57   5500000.0  0.370690  0.284314  120.0
69   arciaor01    2017  2.50    538100.0  0.324176  0.276680  559.0
70   arenano01    2017  7.07  11750000.0  0.373156  0.308581  677.0
72   arrieja01    2017  0.01  15637500.0  0.145161  0.131148   62.0
73   arroybr01    2017 -0.07    535000.0  0.153846  0.153846   26.0
75   ascheco01    2017 -0.91    535000.0  0.177419  0.105263   60.0
79   austity01    2017 -0.19    544000.0  0.282609  0.225000   46.0
82   avilaal01    2017  2.09   2000000.0  0.393939  0.273973  263.0
83   avilaal01    2017  2.09   2000000.0  0.369369  0.239130  111.0
85   avilemi01    2017 -0.09    535000.0  0.297872  0.232558   92.0
..         ...     ...   ...         ...       ...       ...    ...
218  cabremi01    2017 -0.65  28000000.0  0.328922  0.249467  526.0
221  cahiltr01    2017  0.25   1750000.0  0.357143  0.307692   14.0
223   cainlo01    2017  5.37  11000000.0  0.362791  0.299658  666.0
224   cainma01    2017  0.03  21000000.0  0.156250  0.156250   32.0
225  calhoko01    2017  1.99   6000000.0  0.333333  0.244288  651.0
235  canhama01    2017 -0.78    545000.0  0.262032  0.208092  183.0
236   canoro01    2017  3.52  24000000.0  0.337963  0.280405  645.0
239  cardust01    2017 -0.14    535000.0  0.250000  0.142857   31.0
241  carpema01    2017  2.90  10000000.0  0.383871  0.241449  613.0
243  carreez01    2017 -0.28   1162500.0  0.356250  0.282230  327.0
244  cartech02    2017 -0.74   3500000.0  0.283654  0.201087  206.0
247  casteni01    2017  0.82   3000000.0  0.320301  0.271987  664.0
250  castiwe01    2017  2.16   6000000.0  0.323288  0.281525  365.0
251  castrja01    2017  2.47   8500000.0  0.332512  0.241573  402.0
254  castrst01    2017  2.01   9857143.0  0.338266  0.300226  471.0
260  cervefr01    2017  0.75   9000000.0  0.342105  0.249057  298.0
262  cespeyo01    2017  2.18  22500000.0  0.352025  0.292096  319.0
265  chacijh01    2017  0.29   1750000.0  0.222222  0.222222   55.0
269  chatwty01    2017 -0.08   4400000.0  0.175000  0.153846   40.0
272  chiriro01    2017  2.62   1950000.0  0.360390  0.254753  299.0
273  chiselo01    2017  1.20   4300000.0  0.359551  0.288136  266.0
275   choosh01    2017  0.86  20000000.0  0.357030  0.261029  638.0
298  coghlch01    2017 -0.69    535000.0  0.298851  0.200000   85.0
300   colege01    2017  0.07   3750000.0  0.178571  0.163636   56.0
303  collity01    2017  0.01    544700.0  0.278107  0.193333  169.0
306  colonba01    2017 -0.22  12500000.0  0.000000  0.000000   15.0
310  colonch01    2017 -0.09    564000.0  0.222222  0.176471   18.0
311  colonch01    2017 -0.09    564000.0  0.243243  0.151515   37.0
314  confomi01    2017  3.86    554904.0  0.384091  0.278820  434.0
315  conlead01    2017  0.00    537500.0  0.192308  0.125000   26.0

[100 rows x 7 columns]

In [12]:
data = bwar_bat()

data = data.loc[(data["year_ID"] == 2018)]
data.head()

,name_common,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,pitcher,G,PA,salary,runs_above_avg,runs_above_avg_off,runs_above_avg_def,WAR_rep,WAA,WAR
237,Jose Abreu,547989.0,abreujo02,2018,CHW,1,AL,N,128,553.0,13000000.0,-3.4,0.6,-11.5,1.85,-0.13,1.72
339,Ronald Acuna Jr.,660670.0,acunaro01,2018,ATL,1,NL,N,111,487.0,545000.0,26.6,22.6,0.2,1.48,2.61,4.09
362,Willy Adames,642715.0,adamewi01,2018,TBR,1,AL,N,85,323.0,NaN,7.1,6.1,5.3,1.10,0.86,1.96
364,Jason Adam,592094.0,adamja01,2018,KCR,1,AL,Y,1,0.0,NaN,0.0,0.0,0.0,0.00,0.00,0.00
377,Austin Adams,613534.0,adamsau02,2018,WSN,1,NL,Y,2,0.0,NaN,0.0,0.0,0.0,0.00,0.00,0.00

In [27]:
sal = salaries()
sal = sal.loc[(sal["yearID"] == 2016)]
sal.head()

       yearID teamID lgID   playerID   salary
25575    2016    ARI   NL  ahmedni01   521600
25576    2016    ARI   NL  barreja01   507500
25577    2016    ARI   NL  brachsi01   509300
25578    2016    ARI   NL  britoso01   508500
25579    2016    ARI   NL  castiwe01  3700000

In [41]:
data =data.rename(columns={"player_ID":"playerID"}) #because Salaries has playerID not player_id
fin = pd.merge(data[['WAR','playerID']],sal[['playerID','salary']],on=('playerID'))
WarSal = fin
#puting War and Salary together for a player
WarSal.head()

    WAR   playerID    salary
0  1.72  abreujo02  11666667
1 -0.28  adamsma01   1650000
2  0.95  adamsma01   1650000
3  0.35  adriaeh01    512500
4  3.20  ahmedni01    521600

In [38]:
import pandas as pd
#jesus this is a lot .... TO DO comment 
batters = {444482.0: 1634, 606466.0: 1504, 502671.0: 1775, 572041.0: 1141, 518614.0: 1105, 451594.0: 833, 502054.0: 1467, 572761.0: 1788, 542303.0: 1617, 500874.0: 1578, 425877.0: 1312, 425772.0: 542, 425844.0: 189, 657557.0: 1258, 543939.0: 1038, 608379.0: 74, 572008.0: 764, 502481.0: 594, 664056.0: 1160, 605113.0: 1521, 488671.0: 598, 542255.0: 1744, 645277.0: 1885, 518692.0: 1938, 455976.0: 1867, 453568.0: 1941, 518934.0: 1615, 571448.0: 1827, 471865.0: 1296, 605512.0: 434, 621020.0: 1355, 475247.0: 402, 435622.0: 1681, 467827.0: 1192, 596115.0: 1736, 547172.0: 597, 542208.0: 172, 434671.0: 95, 518452.0: 93, 572669.0: 66, 642162.0: 346, 435559.0: 1043, 455104.0: 909, 641820.0: 1602, 592518.0: 1970, 570731.0: 1295, 458731.0: 1621, 592450.0: 1352, 519317.0: 1833, 592122.0: 656, 430945.0: 1535, 448801.0: 1296, 542921.0: 1023, 609280.0: 1637, 607054.0: 695, 519222.0: 706, 591720.0: 238, 476883.0: 317, 623993.0: 211, 642082.0: 474, 544369.0: 1520, 664023.0: 1181, 592178.0: 1143, 656941.0: 1253, 575929.0: 1381, 456715.0: 1775, 519346.0: 690, 460075.0: 1259, 543768.0: 1580, 600303.0: 509, 605170.0: 502, 518792.0: 1282, 570267.0: 570, 542340.0: 1382, 606115.0: 996, 595879.0: 1642, 506433.0: 27, 542908.0: 169, 605200.0: 42, 546991.0: 1263, 519299.0: 258, 450314.0: 1410, 452657.0: 144, 608385.0: 881, 553993.0: 1509, 458015.0: 1683, 543281.0: 927, 624428.0: 982, 516782.0: 1637, 605137.0: 1498, 572816.0: 1391, 553869.0: 764, 640447.0: 617, 571466.0: 1362, 606299.0: 1802, 592567.0: 1203, 474568.0: 1070, 641771.0: 67, 607219.0: 100, 571697.0: 1688, 594807.0: 980, 643230.0: 46, 571740.0: 1505, 594838.0: 60, 446481.0: 427, 547982.0: 902, 600869.0: 1611, 408234.0: 374, 660162.0: 1755, 541645.0: 976, 547989.0: 1471, 571602.0: 1287, 592206.0: 1838, 400121.0: 1214, 543510.0: 1156, 547170.0: 822, 456078.0: 409, 641313.0: 1562, 592444.0: 1208, 578428.0: 1223, 553988.0: 560, 570560.0: 1804, 641553.0: 1146, 445055.0: 1622, 593160.0: 1956, 519058.0: 1770, 596019.0: 2103, 543401.0: 1596, 608070.0: 1869, 446263.0: 950, 596144.0: 273, 572365.0: 297, 488726.0: 1838, 429665.0: 1504, 475174.0: 1479, 434658.0: 525, 444876.0: 1405, 460086.0: 1539, 460077.0: 471, 547379.0: 499, 605548.0: 243, 621035.0: 1693, 608369.0: 260, 624577.0: 1278, 457706.0: 952, 605412.0: 1020, 457705.0: 1878, 457763.0: 1139, 641355.0: 1744, 523253.0: 1030, 592626.0: 1300, 452254.0: 658, 474832.0: 1168, 543063.0: 1469, 605131.0: 654, 400284.0: 457, 448179.0: 126, 608717.0: 133, 446334.0: 1317, 571771.0: 1296, 491676.0: 1214, 518735.0: 1463, 571657.0: 166, 467055.0: 666, 608638.0: 3, 453923.0: 538, 605509.0: 404, 518618.0: 1428, 621446.0: 966, 516770.0: 1686, 571506.0: 1239, 605119.0: 1764, 514917.0: 1915, 467793.0: 1751, 664068.0: 1245, 656555.0: 1726, 596748.0: 1164, 571437.0: 701, 595751.0: 974, 457727.0: 949, 500743.0: 1334, 592826.0: 105, 546318.0: 1550, 595453.0: 91, 542513.0: 55, 608384.0: 1178, 465753.0: 203, 592680.0: 405, 622097.0: 6, 657658.0: 31, 592407.0: 443, 452678.0: 1572, 493316.0: 360, 527038.0: 1171, 518595.0: 26, 607208.0: 2014, 543685.0: 1523, 547180.0: 1767, 475582.0: 809, 457803.0: 886, 501571.0: 146, 571927.0: 121, 435062.0: 349, 572191.0: 972, 571718.0: 462, 600474.0: 541, 642708.0: 1554, 461829.0: 130, 453943.0: 1191, 594809.0: 993, 607043.0: 1483, 608703.0: 37, 408236.0: 472, 571431.0: 873, 459964.0: 578, 543760.0: 1844, 476704.0: 1778, 446359.0: 588, 545361.0: 1559, 457708.0: 1469, 621566.0: 1680, 656305.0: 1602, 622194.0: 128, 572039.0: 1530, 519295.0: 87, 405395.0: 1207, 594777.0: 1445, 592743.0: 1549, 501981.0: 1659, 472528.0: 661, 527043.0: 528, 425784.0: 215, 572114.0: 29, 517369.0: 1175, 520471.0: 1742, 543333.0: 1743, 570799.0: 1010, 543807.0: 1787, 608324.0: 2020, 514888.0: 1656, 621043.0: 1255, 641319.0: 524, 592669.0: 1203, 605486.0: 836, 502210.0: 1328, 503556.0: 1460, 594828.0: 1117, 454560.0: 483, 622534.0: 1379, 435263.0: 547, 545350.0: 586, 543829.0: 1548, 516416.0: 1680, 429664.0: 935, 572821.0: 1744, 408045.0: 1462, 593934.0: 716, 592696.0: 1545, 489149.0: 955, 571745.0: 1851, 572122.0: 1616, 596129.0: 237, 500871.0: 1641, 596146.0: 1582, 621439.0: 183, 592387.0: 1365, 400085.0: 81, 605357.0: 48, 488771.0: 143, 543257.0: 1267, 628338.0: 895, 461865.0: 344, 600301.0: 99, 501303.0: 967, 534606.0: 468, 641598.0: 922, 452655.0: 1318, 605480.0: 1480, 460576.0: 1026, 543543.0: 632, 622110.0: 1501, 543068.0: 1453, 605141.0: 1859, 643217.0: 1961, 434670.0: 470, 502110.0: 1905, 593428.0: 1700, 646240.0: 1339, 456488.0: 1358, 598265.0: 1554, 467092.0: 1040, 621563.0: 1456, 588751.0: 798, 506702.0: 797, 571788.0: 1095, 596119.0: 552, 456665.0: 806, 518626.0: 532, 475253.0: 1510, 425783.0: 1769, 596059.0: 1384, 462101.0: 1071, 608577.0: 1371, 431145.0: 893, 607680.0: 1358, 649557.0: 1160, 608336.0: 1487, 595777.0: 1581, 518542.0: 77, 607387.0: 319, 592685.0: 270, 545341.0: 1171, 581527.0: 1006, 500208.0: 1269, 592836.0: 6, 596133.0: 105, 572233.0: 132, 594824.0: 545, 571974.0: 579, 488721.0: 104, 656794.0: 130, 643565.0: 83, 607536.0: 160, 518586.0: 895, 641857.0: 533, 502143.0: 763, 435522.0: 1025, 502226.0: 456, 543376.0: 711, 608365.0: 1128, 542583.0: 1619, 541650.0: 896, 444489.0: 884, 500779.0: 133, 502624.0: 121, 570256.0: 1379, 465041.0: 1055, 592791.0: 150, 641816.0: 83, 460060.0: 70, 519023.0: 690, 592348.0: 1349, 543484.0: 611, 543308.0: 881, 544725.0: 758, 624585.0: 660, 543228.0: 1085, 571980.0: 475, 595956.0: 186, 461314.0: 1427, 460026.0: 819, 477132.0: 159, 621389.0: 81, 670950.0: 83, 641487.0: 315, 453562.0: 126, 595284.0: 550, 628333.0: 9, 624424.0: 1754, 518774.0: 137, 543699.0: 149, 408314.0: 640, 594694.0: 1168, 455117.0: 1099, 518960.0: 1181, 452104.0: 132, 595978.0: 808, 545358.0: 652, 605233.0: 169, 595281.0: 941, 621002.0: 922, 491696.0: 528, 519048.0: 1244, 608701.0: 231, 543877.0: 729, 434778.0: 1225, 134181.0: 1227, 571912.0: 623, 455139.0: 1140, 624636.0: 313, 434158.0: 1078, 571918.0: 214, 643327.0: 159, 502706.0: 118, 453286.0: 199, 527054.0: 135, 642003.0: 29, 594902.0: 10, 446386.0: 586, 570481.0: 396, 605204.0: 263, 455759.0: 321, 468504.0: 182, 571945.0: 179, 621433.0: 384, 622168.0: 883, 608700.0: 709, 592789.0: 122, 570632.0: 118, 592351.0: 133, 453385.0: 109, 449181.0: 200, 571679.0: 251, 573135.0: 365, 553882.0: 896, 467100.0: 124, 543022.0: 79, 519068.0: 11, 571578.0: 148, 595881.0: 6, 544931.0: 106, 592314.0: 150, 607468.0: 380, 456701.0: 67, 605400.0: 165, 622682.0: 577, 660271.0: 961, 643396.0: 1095, 593372.0: 83, 608718.0: 79, 594798.0: 184, 592761.0: 55, 596142.0: 1004, 453203.0: 135, 642180.0: 134, 624407.0: 213, 547943.0: 80, 640455.0: 15, 572204.0: 385, 592192.0: 1091, 664192.0: 89, 542881.0: 145, 501659.0: 390, 592662.0: 93, 605498.0: 107, 435221.0: 64, 595918.0: 5, 501213.0: 172, 601713.0: 93, 622491.0: 145, 628452.0: 3, 448855.0: 91, 506747.0: 365, 425794.0: 23, 543359.0: 9, 606424.0: 24, 554430.0: 141, 596043.0: 7, 622072.0: 100, 501896.0: 909, 614173.0: 430, 608566.0: 172, 606131.0: 21, 643256.0: 8, 622608.0: 63, 547912.0: 19, 446308.0: 695, 435079.0: 1571, 543305.0: 1642, 592866.0: 117, 543294.0: 149, 572362.0: 62, 594577.0: 4, 628317.0: 84, 446653.0: 147, 543776.0: 361, 596071.0: 17, 475115.0: 109, 608597.0: 1212, 493329.0: 1666, 606192.0: 1424, 519008.0: 18, 572750.0: 3, 623149.0: 17, 443558.0: 1587, 608654.0: 672, 519333.0: 187, 606625.0: 3, 605232.0: 18, 592169.0: 3, 591971.0: 190, 621512.0: 240, 657681.0: 3, 641924.0: 61, 621559.0: 195, 600524.0: 718, 476451.0: 78, 596143.0: 59, 640461.0: 873, 571951.0: 49, 571970.0: 1516, 518397.0: 17, 592663.0: 1519, 456501.0: 23, 519203.0: 1738, 474319.0: 16, 664057.0: 237, 622713.0: 19, 592885.0: 1904, 656185.0: 785, 544836.0: 3, 592325.0: 790, 643778.0: 3, 622666.0: 1449, 576397.0: 1041, 641933.0: 388, 605538.0: 24, 607192.0: 9, 543557.0: 84, 571670.0: 11, 607229.0: 9, 571976.0: 906, 571863.0: 55, 607776.0: 285, 572287.0: 1040, 666971.0: 733, 623520.0: 591, 594988.0: 1155, 621311.0: 798, 571595.0: 418, 543734.0: 12, 518553.0: 12, 592261.0: 1050, 650402.0: 1324, 593974.0: 7, 621111.0: 117, 607237.0: 4, 521692.0: 1491, 641778.0: 95, 506703.0: 150, 591741.0: 298, 571510.0: 4, 595222.0: 129, 660670.0: 1424, 519455.0: 6, 599683.0: 1, 642571.0: 13, 621261.0: 46, 594953.0: 1236, 502188.0: 27, 622441.0: 7, 571800.0: 15, 594011.0: 836, 605242.0: 12, 607231.0: 82, 608331.0: 18, 445988.0: 588, 596103.0: 616, 596816.0: 4, 571882.0: 3, 593700.0: 871, 452095.0: 817, 612672.0: 117, 572073.0: 655, 657077.0: 233, 592769.0: 3, 450306.0: 76, 607625.0: 33, 656427.0: 109, 592145.0: 7, 621044.0: 242, 608671.0: 1076, 592468.0: 76, 548389.0: 90, 573185.0: 101, 647336.0: 14, 444432.0: 964, 448306.0: 14, 593495.0: 132, 621107.0: 104, 593144.0: 3, 607257.0: 307, 463610.0: 174, 608337.0: 18, 520980.0: 4, 489119.0: 76, 596105.0: 208, 519306.0: 739, 641796.0: 35, 543037.0: 24, 450665.0: 3, 642770.0: 46, 430832.0: 1115, 592647.0: 29, 450203.0: 16, 492802.0: 24, 602922.0: 289, 608371.0: 5, 608348.0: 110, 606988.0: 320, 434378.0: 12, 518466.0: 113, 435064.0: 413, 518693.0: 3, 546990.0: 56, 543031.0: 8, 622864.0: 3, 664869.0: 6, 545338.0: 4, 446372.0: 12, 571760.0: 18, 543606.0: 14, 471911.0: 12, 518902.0: 211, 641583.0: 561, 642545.0: 16, 657145.0: 14, 488810.0: 60, 627894.0: 3, 620446.0: 311, 543475.0: 47, 502327.0: 7, 605540.0: 35, 592865.0: 10, 642086.0: 386, 570482.0: 122, 458677.0: 2, 456696.0: 3, 644428.0: 3, 642547.0: 66, 641645.0: 201, 448602.0: 627, 493596.0: 135, 623451.0: 7, 614177.0: 785, 641531.0: 1028, 625643.0: 3, 622497.0: 37, 457759.0: 1399, 547888.0: 12, 665742.0: 1312, 595885.0: 835, 448802.0: 12, 592547.0: 8, 643393.0: 884, 622694.0: 19, 595943.0: 57, 457918.0: 17, 571473.0: 3, 572180.0: 68, 624414.0: 167, 571875.0: 604, 596847.0: 598, 572033.0: 267, 571467.0: 12, 640457.0: 528, 641684.0: 164, 571851.0: 368, 594992.0: 3, 595909.0: 864, 640449.0: 99, 453329.0: 92, 466320.0: 766, 593643.0: 89, 453178.0: 6, 642715.0: 879, 545333.0: 4, 606995.0: 3, 592779.0: 6, 434628.0: 7, 641525.0: 359, 593647.0: 120, 592644.0: 4, 453192.0: 3, 596001.0: 7, 607200.0: 45, 607430.0: 160, 620439.0: 209, 605508.0: 350, 593527.0: 76, 605397.0: 86, 543208.0: 9, 456030.0: 32, 554054.0: 23, 593993.0: 352, 456124.0: 659, 460283.0: 7, 595375.0: 909, 543302.0: 240, 600968.0: 9, 488846.0: 6, 570663.0: 3, 640460.0: 4, 460269.0: 160, 605474.0: 39, 547179.0: 100, 605446.0: 85, 623402.0: 4, 605520.0: 51, 643466.0: 5, 621052.0: 1, 543148.0: 129, 500135.0: 559, 621141.0: 9, 407822.0: 3, 622226.0: 107, 608652.0: 9, 592200.0: 430, 596295.0: 51, 592230.0: 347, 607752.0: 111, 642701.0: 3, 622446.0: 51, 502117.0: 103, 607345.0: 522, 518516.0: 129, 592426.0: 6, 642851.0: 321, 502171.0: 17, 543101.0: 111, 572228.0: 528, 502082.0: 189, 543135.0: 33, 489446.0: 4, 605164.0: 14, 543339.0: 6, 607968.0: 8, 605361.0: 535, 622554.0: 3, 642232.0: 4, 641343.0: 1016, 571893.0: 2, 628336.0: 333, 545337.0: 19, 643410.0: 6, 593334.0: 6, 622663.0: 11, 640463.0: 6, 608596.0: 256, 621381.0: 18, 657571.0: 13, 112526.0: 9, 542289.0: 2, 502517.0: 960, 664058.0: 850, 430935.0: 62, 445926.0: 1, 605154.0: 5, 624431.0: 30, 543377.0: 45, 620454.0: 3, 643603.0: 703, 609275.0: 794, 543243.0: 5, 605276.0: 10, 572403.0: 3, 621112.0: 2, 488768.0: 9, 518875.0: 1, 593423.0: 15, 458675.0: 75, 592859.0: 137, 592332.0: 63, 607732.0: 112, 542454.0: 76, 656354.0: 7, 664842.0: 15, 571476.0: 3, 571946.0: 11, 621249.0: 3, 605182.0: 9, 642528.0: 4, 656738.0: 1, 669456.0: 11, 542979.0: 262, 518633.0: 6, 543309.0: 192, 606149.0: 3, 607223.0: 9, 593528.0: 745, 645261.0: 23, 605441.0: 3, 592273.0: 152, 553902.0: 272, 435043.0: 3, 641154.0: 45, 606132.0: 79, 658792.0: 6, 458681.0: 9, 543483.0: 3, 453344.0: 3, 572955.0: 3, 519144.0: 26, 593871.0: 957, 644337.0: 67, 502043.0: 6, 598271.0: 6, 592390.0: 3, 451192.0: 546, 489265.0: 3, 573064.0: 7, 605255.0: 3, 606162.0: 3, 593958.0: 10, 594840.0: 6, 592229.0: 2, 501593.0: 1, 434538.0: 5, 621244.0: 6, 605280.0: 11, 641438.0: 3, 643265.0: 70, 656669.0: 257, 663656.0: 182, 628318.0: 7, 605483.0: 8, 623454.0: 9, 621453.0: 424, 552640.0: 3, 571841.0: 26, 488818.0: 267, 592808.0: 79, 599096.0: 252, 660853.0: 10, 543193.0: 7, 641341.0: 1, 461858.0: 36, 573186.0: 9, 622075.0: 3, 544925.0: 42, 502593.0: 3, 570240.0: 18, 429719.0: 4, 548357.0: 7, 656546.0: 2, 593140.0: 6, 642336.0: 166, 474463.0: 8, 453281.0: 9, 608723.0: 4, 593833.0: 9, 502190.0: 11, 641432.0: 308, 650490.0: 331, 624507.0: 23, 656803.0: 5, 621199.0: 2, 641658.0: 133, 446192.0: 57, 605439.0: 23, 594965.0: 21, 642423.0: 403, 643446.0: 664, 516472.0: 299, 624133.0: 14, 592863.0: 335, 605421.0: 218, 543548.0: 26, 596451.0: 410, 623352.0: 6, 527048.0: 6, 656811.0: 525, 663465.0: 8, 543194.0: 192, 642008.0: 1, 656725.0: 6, 607471.0: 49, 572227.0: 20, 458913.0: 319, 572182.0: 10, 622492.0: 3, 657656.0: 457, 502042.0: 41, 621121.0: 6, 502748.0: 3, 641712.0: 3, 572863.0: 12, 664040.0: 418, 488984.0: 3, 673633.0: 2, 572971.0: 5, 596112.0: 5, 664028.0: 21, 461833.0: 2, 666969.0: 53, 641149.0: 3, 576788.0: 17, 656775.0: 533, 542364.0: 390, 656798.0: 29, 594987.0: 7, 543391.0: 12, 621550.0: 152, 657053.0: 24, 656977.0: 3, 643376.0: 247, 621493.0: 396, 592741.0: 3, 621573.0: 306, 595373.0: 93, 542882.0: 3, 641856.0: 365, 606157.0: 4, 669060.0: 5, 621028.0: 254, 407812.0: 193, 621219.0: 12, 541640.0: 8, 547004.0: 41, 451596.0: 5, 502522.0: 1, 649966.0: 149, 433587.0: 1, 630023.0: 3, 606273.0: 7, 650895.0: 3, 656222.0: 5, 608475.0: 281, 622046.0: 161, 605244.0: 177, 592717.0: 3, 462136.0: 3, 650619.0: 75, 622569.0: 179, 606992.0: 48, 656887.0: 6, 664167.0: 43, 624419.0: 111, 623205.0: 32, 605253.0: 19, 543089.0: 29, 602115.0: 47, 641477.0: 103, 489267.0: 54, 488681.0: 52, 598284.0: 206, 645302.0: 195, 408252.0: 71, 596012.0: 98, 641505.0: 57, 642133.0: 220, 545121.0: 64, 624512.0: 96, 445213.0: 3, 621529.0: 33, 623214.0: 26, 621514.0: 200, 623182.0: 34, 455755.0: 1, 543432.0: 22, 621466.0: 149, 607333.0: 14, 605452.0: 7, 656257.0: 9, 622795.0: 6, 457454.0: 20, 642558.0: 2, 501985.0: 9, 641745.0: 10, 607215.0: 5, 641571.0: 9, 582473.0: 28, 664702.0: 30, 664196.0: 3, 502570.0: 6, 628711.0: 3, 624641.0: 9, 605612.0: 28, 543169.0: 3, 542932.0: 45, 657612.0: 3, 641851.0: 6, 502273.0: 2, 595191.0: 3, 431151.0: 8, 628356.0: 18, 596057.0: 3, 669203.0: 2, 605513.0: 5, 425492.0: 3, 456034.0: 6}
df = pd.DataFrame.from_dict(batters, orient='index',columns=['TBB'])
df.reset_index(inplace=True)
df = df.rename(columns={'index': 'mlb_id'})

df.head(10)

df2 = pd.read_csv('master.csv',encoding='latin-1')
df2.head()
#print(list(df2))

df = pd.merge(df[['mlb_id', 'TBB', ]], 
                 df2[['mlb_id', 'mlb_name','lahman_id']],
                 on='mlb_id', how='inner')
df.head(10)
df = df.rename(columns={'lahman_id': 'playerID'})
df.head(10)
df3 = pd.read_csv('Batting.csv',encoding='latin-1')
df4 = df3.loc[(df3['yearID']==2016) & (df3['stint'] == 1)]
df5 = df3.loc[(df3['yearID']==2016) & (df3['stint'] == 2)]

df5 = df5.rename(columns={'AB': 'AB2','H': 'H2','RBI': 'RBI2'})
df5 = df5[['AB2','playerID','H2','RBI2']]
df4 = df4[['AB','playerID','H','RBI']]




df6 = pd.merge(df4[['H', 'AB','RBI', 'playerID']], 
                 df5[['playerID','H2','RBI2','AB2']],
                 on='playerID', how='left')
df6.head(100)

df6 = df6.fillna(0)
df6['AB'] = df6['AB']+df6['AB2']
df6['H'] = df6['H']+df6['H2']
df6['RBI'] = df6['RBI']+df6['RBI2']

df = pd.merge(df[['mlb_name', 'TBB','playerID' ]], 
                df6[['playerID', 'AB','RBI','H']],
               on='playerID', how='inner')
df10 = df
df = df.loc[(df['AB'] >= 75)]
df['BPAB'] = df['TBB']/df['AB']
df['OBP'] = df['H']/df['AB']
df = df.sort_values(by=['TBB'],ascending=False)
df = df[["mlb_name",'TBB',"BPAB","AB","H","RBI",'OBP',"playerID"]]
dfB = df.sort_values(by=['BPAB'],ascending=False)
df.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,mlb_name,TBB,BPAB,AB,H,RBI,OBP,playerID
110,Francisco Lindor,2103,3.481788,604.0,182.0,78.0,0.301325,lindofr01
209,Alex Bregman,2020,10.049751,201.0,53.0,34.0,0.263682,bregmal01
169,Trea Turner,2014,6.560261,307.0,105.0,40.0,0.342020,turnetr01
40,Manny Machado,1970,3.078125,640.0,188.0,96.0,0.293750,machama01
252,Andrew Benintendi,1961,18.676190,105.0,31.0,14.0,0.295238,beninan01

In [42]:
FinalDF = fin = pd.merge(df,WarSal,on=('playerID')) 
FinalDF.head(30)

,mlb_name,TBB,BPAB,AB,H,RBI,OBP,playerID,WAR,salary
0,Francisco Lindor,2103,3.481788,604.0,182.0,78.0,0.301325,lindofr01,7.86,540300
1,Manny Machado,1970,3.078125,640.0,188.0,96.0,0.293750,machama01,2.91,5000000
2,Manny Machado,1970,3.078125,640.0,188.0,96.0,0.293750,machama01,2.83,5000000
3,Charlie Blackmon,1941,3.358131,578.0,187.0,82.0,0.323529,blackch02,0.84,3500000
4,Freddie Freeman,1938,3.290323,589.0,178.0,91.0,0.302207,freemfr01,6.08,12359375
5,Cesar Hernandez,1915,3.500914,547.0,161.0,39.0,0.294333,hernace02,1.37,525000
6,J.D. Martinez,1905,4.141304,460.0,141.0,68.0,0.306522,martijd02,6.38,6750000
7,Christian Yelich,1904,3.294118,578.0,172.0,98.0,0.297578,yelicch01,7.62,1000000
8,Andrew McCutchen,1878,3.140468,598.0,153.0,79.0,0.255853,mccutan01,0.76,13208333
9,Andrew McCutchen,1878,3.140468,598.0,153.0,79.0,0.255853,mccutan01,1.95,13208333
10,Jose Ramirez,1869,3.307965,565.0,176.0,76.0,0.311504,ramirjo01,7.86,518200
11,Nick Markakis,1867,3.116861,599.0,161.0,89.0,0.268781,markani01,2.58,11000000
12,Mookie Betts,1859,2.766369,672.0,214.0,113.0,0.318452,bettsmo01,10.86,566000
13,Marcus Semien,1844,3.246479,568.0,135.0,75.0,0.237676,semiema01,4.27,512500
14,Nicholas Castellanos,1838,4.472019,411.0,117.0,58.0,0.284672,casteni01,2.91,536500
15,Giancarlo Stanton,1833,4.438257,413.0,99.0,74.0,0.239709,stantmi03,4.01,9000000
16,Nolan Arenado,1827,2.956311,618.0,182.0,133.0,0.294498,arenano01,5.64,5000000
17,Matt Carpenter,1788,3.780127,473.0,128.0,68.0,0.270613,carpema01,4.93,6500000
18,George Springer,1787,2.774845,644.0,168.0,82.0,0.260870,springe01,2.74,522400
19,Jed Lowrie,1778,5.260355,338.0,89.0,27.0,0.263314,lowrije01,4.80,7500000
20,Lorenzo Cain,1775,4.471033,397.0,114.0,56.0,0.287154,cainlo01,6.90,6500000
21,Paul Goldschmidt,1775,3.065630,579.0,172.0,95.0,0.297064,goldspa01,5.41,5833333
22,Mike Moustakas,1770,17.019231,104.0,25.0,13.0,0.240385,moustmi01,2.12,5600000
23,Mike Moustakas,1770,17.019231,104.0,25.0,13.0,0.240385,moustmi01,0.40,5600000
24,Shin-Soo Choo,1769,9.938202,178.0,43.0,17.0,0.241573,choosh01,2.75,20000000
25,Bryce Harper,1767,3.492095,506.0,123.0,86.0,0.243083,harpebr03,1.30,5000000
26,Michael Conforto,1754,5.769737,304.0,67.0,42.0,0.220395,confomi01,2.88,517246
27,Carlos Santana,1751,3.008591,582.0,151.0,87.0,0.259450,santaca01,1.73,8450000
28,Brian Dozier,1744,2.835772,615.0,165.0,99.0,0.268293,doziebr01,-0.01,3000000
29,Brian Dozier,1744,2.835772,615.0,165.0,99.0,0.268293,doziebr01,1.02,3000000

In [44]:
#MLR from pandas
#you can also use statsmodels for linear regression
import statsmodels.api as sm 
# Collect the features in a 2D array 
X = FinalDF[["TBB", "OBP","WAR"]]
# Add a constant to the array for the intercept
#You need a good reason if you don't have an intercept
X = sm.add_constant(X)

# The dependent variable is wins, put in an array 
y = FinalDF["salary"]

# Fit the ordinary least-squares (OLS) model 
model = sm.OLS(y, X).fit()

#How good is the fit?
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.060
Method:                 Least Squares   F-statistic:                     7.837
Date:                Sun, 10 Nov 2019   Prob (F-statistic):           4.62e-05
Time:                        23:22:17   Log-Likelihood:                -5493.4
No. Observations:                 323   AIC:                         1.099e+04
Df Residuals:                     319   BIC:                         1.101e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6.608e+06    2.5e+06     -2.639      0.009   -1.15e+07   -1.68e+06
TBB         1054.9829    802.010      1.315      0.189    -522.914    2632.880
OBP         4.326e+07   1.01e+07      4.293      0.000    2.34e+07    6.31e+07
WAR        -4.493e+05    2.3e+05     -1.952      0.052   -9.02e+05    3551.318
==============================================================================
Omnibus:                       89.980   Durbin-Watson:                   1.923
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              168.586
Skew:                           1.532   Prob(JB):                     2.47e-37
Kurtosis:                       4.772   Cond. No.                     3.62e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.62e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Comments for above:
GOod To Have
This does not give us (r) but r measures the strenght of relathinship between two variables. strength and direction of a linear relationship between variables. 

    Describes the linearity of the relationshop between x and Y
    -1 <= r <= 1 
        r = 0: indicates no linear relationship
        r = 1: indicates perfect positive linear relationship (correlation)
        r = -1: indicates perffect negative linear relationship.
        r is not resistat to outliers
        r has no unites
        CORRELATION DOES NOT IMPL CAUSATION

Adjusted R^2 accounts for the time bias from our sample as well as the inlation that occurs from having multiple predictors:
    Adjusted R^2 is the population parameter for coefficient of Determination
 

R^2 is the square of the correlation coefficient r
    R^2 is the sample statistic of "Coefficient of Determination"
    Example: Study time and examm score R^2 is 39.41. We can say that the X (hours of stidy) "Explains" 39.41% of the variation in y (Exam scores) in our sample.

Both of these are perecentages
    
P < signifcance level
    Look at P levels for each variable as well as F-statistic
    We can take out variables one by one (cant do them all because each calculation effects the next) until all variables and F-statistic matches meet criteria.